@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

/* text-stroke */
.text-stroke {
  /* -webkit-text-stroke: 2px #f7f7f7; */
  -webkit-text-stroke: 2px rgb(239 68 68);
  -webkit-text-fill-color: transparent;
}
.text-stroke-sm {
  -webkit-text-stroke: 1px #f7f7f7;
  -webkit-text-fill-color: transparent;
}

.ProjectModel {
  width: 120%;
  height: 160%;
  pointer-events: none;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
}
.Container__ProjectModel:hover .ProjectModel {
  opacity: 1;
}

.Container__ProjectModel:hover {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(159, 0, 0);
  border-radius: 5px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006e93;
}
